body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
}

#stopWatch {
	width: 280px;
	height: auto;
	text-align: center;
	display: block;
	padding: 5px;
	margin: left;
}

section{
	font-family:  'Work Sans', sans-serif;
	font-size: 22px;
	background-color: tan;
	color: #f6f6f6;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#timer, #fulltime { 
	width: auto; 
	height: auto; 
	padding: 10px; 
	font-weight: bold; 
	font-family: sans-serif; 
	display: block; 
	border: 1px solid #eee; 
	text-align: center; 
	box-shadow: 0 0 5px #ccc; 
	background: #fbfbf0; 
	color: #279; 
	border-bottom:4px solid darkgrey; 
} 

#fulltime { display:none; font-size:16px; font-weight:bold; } 

.question{
	padding:20px; 
  font-size: 20px;
  background-color: #279;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}
.answers {
  display: inline-block;
  padding: 10px 0 px 10px 15px;
  background: rgba(255,255,255,0.5);
  border-radius:20px;
  margin: 10px 0px 10px 10px;
  color: black;
}
.answers label{
  display: block;
}

#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#submit:hover{
	background-color: #38a;
}